.word-from-creator {
  background-color: var(--darkNavy);
  padding: 90px 0;
}

.creator-title {
  padding-bottom: 25px;
}
.creator-body {
  font-size: 25px;
  margin: auto;
  max-width: 900px;
}

.form-link {
  text-decoration: underline;
}

.form-link:hover {
  cursor: pointer;
}
