.copy-npm {
  margin: 20px 0;
  text-align: center;
  width: fit-content;
  height: 40px;
}

#copy-btn {
  padding: 4px 9px;
  display: flex;
  background: var(--grayBlue);
  border: 0;
  outline: 0;
  transition: background 0.2s, transform 0.2s;
}

.install-text-wrapper {
  font-size: 25px;
}

#copy-icon {
  padding: 0;
  margin: 4px 0 0 6px;
  width: 30px;
  height: 30px;
}

#copy-btn:hover {
  cursor: pointer;
  background: var(--lapis);
}

#copy-btn:focus {
  outline: none;
}

.successful-copy {
  transform: translateX(5px);
  background: var(--success) !important;
}
.failed-copy {
  transform: translateX(5px);
  background: var(--fail) !important;
}

@media screen and (max-width: 1050px) {
  .copy-npm {
    display: none;
  }
}
