.wrapper {
  margin: auto;
  text-align: center;
}
.full-wrapper {
  width: 100%;
}

.medium-wrapper {
  width: 75%;
}

@media screen and (max-width: 1000px) {
  .medium-wrapper {
    width: 85%;
  }
}
