.description {
  background-color: #f2f3f4;
  padding: 0 70px 90px 70px;
  margin-bottom: 40px;
  border-top: 5px solid #f2f3f4;
  border-bottom: 8px solid var(--black);
}

.description-title {
  margin-bottom: 20px;
}
.description-header {
  margin: auto;
  max-width: 700px;
}
.description-title,
.description-header {
  color: var(--black);
}

.description-header > a {
  color: var(--black);
}
